# Ignorar dependencias geradas pelo Composer 
/vendor/
composer.lock 

# Ignorar arquivos de configuraçao sensiveis 
/env/
.env 
.env*
*.env.local

# Ignorar logs e caches 
storage/
*.log

# Ignorar IDEs e editores
/.vscode/
/.idea/

# Ignora arquivos de banco de dados 
*.sqlite
*.sql 
*.db
# Ignorar o arquivo command_git.txt
*.txt
/git/